body{
    margin: 10px;
    padding: 20px;

}
.card{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: white
}

#formtodo{
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
}

h3{
    text-align: center;
    color: white;

}

button{
    background-color: green;
    color: white;
    border: none;
}

li{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    list-style: none;
}

.edit{
    background-color: orange;
}

.status{
    background-color: lightpink;
}
.hapus{
    background-color: red;
}
.done{
    text-decoration: line-through;
    color: gray;
}