*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}




body{
    font-family: 'segoe UI',  Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}
.card{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: white
}

#formtodo{
    display: flex;
    gap: 10px;
}
input{
    flex: 1;
}

h3{
    text-align: center;
    color: white;

}

button{
    background-color: green;
    color: white;
    border: none;
}

li{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    list-style: none;
}

.edit{
    background-color: orange;
}

.status{
    background-color: lightpink;
}
.hapus{
    background-color: red;
}
.done{
    text-decoration: line-through;
    color: gray;
}